.birthdays-area
  header
    h3
      color $color2
      font-size 22px
      font-family $font1
      font-weight normal
      padding 30px 0 20px
      line-height 1.2em
      ul
        padding 10px 0px 0px
        display inline-block
        li
        .green
          font-size 30px
        .f-lighter
          font-size 13px
      span
        padding 12px 5px 0px 0px
        display inline-block
        vertical-align: top;
