.birthdays-area
  height 870px
  h2
    position absolute
  h2.world
    left 600px
  .tooltip
    text
      fill #333
  .country-title
    fill #888
    text-anchor middle
    font-size 12px
  .tooltip-line
    stroke #999
    stroke-width 1
  .percentage-label
    font-size 12px
    fill #999
  .value-label
    font-size 20px
    fill #999
  .shared-label
    font-size 12px
    fill #999
  .country-label
    font-size 12px
    fill #999
  .world-chart-label
    font-size 10px
    fill #999
  .world-chart-label-line
    stroke #999
    stroke-width 2px
  .continents
    position absolute
    bottom 30px
    span
      display block
      margin 0 0 10px 0
      font-size 14px
    label
      color #666
      background #f2f2f2
      border-color #f2f2f2
      border-left-color #dedede
      height 40px
      line-height 40px
    label.active
      background #fff
      color #333
      border-color #fff
      border-left-color #dedede
    label:first-child
      border-color #fff
    label.active:first-child
      border-color #fff