.birthdays-area
    padding-bottom 10px
    h3
      color $color2
      font-size 23px
      font-family $font1
      font-weight normal
      padding 30px 0 20px
      line-height 1.2em
      ul
        padding 10px 0px 0px
        display inline-table
        li
        .green
          font-size 30px
        :first-child
          font-family $font4
        .f-lighter
          font-size 13px
      span
        padding 7px 5px 0px 0px
        display inline-block
        vertical-align: top;
  birthdays-area
    width 100%
    span
    .birthdaybuddies
      display block
      background-image url("../images/humans-green.svg")
      background-repeat repeat-x
      background-color transparent
      margin 5px 0px 15px

    .isCurrentMan
      background-image url("../images/humans-blueman.svg")
      background-repeat no-repeat
      float right
      margin 0
    .isCurrentWoman
      background-image url("../images/humans-bluewoman.svg")
      background-repeat no-repeat
      float right
      margin 0
