.death-area
    height 1050px
    h1
        span
            color #333
    .type-switcher
        border 1px solid rgba(0, 0, 0, 0.2)
        clearfix()
        width 400px
        margin 0 auto
        border-radius 4px
        span
            cursor pointer
            box-sizing border-box
            width 200px
            display block
            float left
            text-align center
            white-space: nowrap;
            overflow: hidden;
            line-height: 40px;
            text-overflow: ellipsis;
            padding: 0 15px;
            &:nth-child(2)
                border-left 1px solid rgba(0, 0, 0, 0.2)
            &.active
                background highlight-yellow

    death-chart
        display block
        .domain
            fill transparent
            stroke #D9D9D9
            stroke-width 1px
        .axis
            .tick
                opacity 0
                line
                    stroke #b0b0b0
                    stroke-width 1px
                text
                    fill #b0b0b0
                    font-size 12px
        .x-label
        .y-label
            fill #333
            font-size 12px
    .death-stats
        margin 20px 0
        clearfix()
        .column
            width 33.33%
            float left
            border-right 1px solid #eee
            box-sizing border-box
            height 160px

            .content
                margin 0 60px
                .title
                    text-align center
                    line-height 2
                    font-size 20pt
                    font-family 'PlantinMTStd-Light', sans-serif
                    &.world
                        color #98ec79
                    &.country
                        color #6581f1
                .copy
                    font-size 14pt
                    text-align center
                    color #888
                    line-height 1.5
                    span
                        color #333
            &:last-of-type
                border none
