.death-area
    h3
      color $color2
      font-size 22px
      font-family $font1
      font-weight normal
      padding 30px 0 20px
      line-height 1.2em

      @media only screen and (max-width: 769px) and (orientation: landscape)
        font-size 20px

      ul
        padding 10px 0px 0px
        display inline-table
        li
        .green
          font-size 21px
          margin-bottom -5px

          @media only screen and (max-width: 769px) and (orientation: landscape)
            font-size 20px

        .f-lighter
          font-size 13px
      span
        padding 10px 5px 0px 0px
        display inline-block
        vertical-align: top;
death-chart
  svg
    margin 0px 0px 15px
  path.spiral
    fill none
    stroke $color3
    stroke-width 3px

  path.spiral2
    fill none
    stroke $active-blue
    stroke-width 3px

  path.spiralNow
    fill none
    stroke none

  path.spiralLabel
    fill none
    stroke none
