.death-area
    height 900px
    death-chart
        display block
        .domain
            fill transparent
            stroke #D9D9D9
            stroke-width 1px
        .axis
            .tick
                opacity 0
                line
                    stroke #b0b0b0
                    stroke-width 1px
                text
                    fill #b0b0b0
                    font-size 12px
        .x-label
        .y-label
            fill #333
            font-size 12px
