.fancy-sharing
  padding-left 6px
  .share-btns
    font-family $font1
    font-weight normal
    padding 30px 0 20px
    line-height 1.2em
    float left
    width 100%
    clear both
    border-bottom 1px solid $color2
    #share-twitter
      width 25%
      float left
      display block
    .icon-twitter
      background-image url("../images/share-twitter.svg")
      background-repeat no-repeat
      background-color transparent
      -webkit-border-radius 0
      border-radius 0
      height 45px
      width 45px
      position relative
      float left
      display block
      background-size 100%
  #share-facebook
    width 25%
    display block
    float left
    .icon-facebook
      background-image url("../images/share-facebook.svg")
      background-repeat no-repeat
      background-color transparent
      -webkit-border-radius 0
      border-radius 0
      height 45px
      width 45px
      position relative
      float left
      display block
      background-size 100%
  #share-linkedin
    width 25%
    display block
    float left
    .icon-linkedin
      background-image url("../images/share-li.svg")
      background-repeat no-repeat
      background-color transparent
      -webkit-border-radius 0
      border-radius 0
      height 45px
      width 45px
      position relative
      float left
      display block
      background-size 100%
  #share-cal
    width 25%
    display block
    float left
    .icon-calendar
      background-image url("../images/share-ical.svg")
      background-repeat no-repeat
      background-color transparent
      -webkit-border-radius 0
      border-radius 0
      height 45px
      width 45px
      position relative
      float left
      display block
      background-size 100%
  span
    display block
    width 70px
    font-size 12px
  .tell-your-friend
    width 100%
    display block
    float left
    padding 20px 0px
    border-bottom 1px solid $color2
    form
      .form-control
        float none
        -webkit-transition all 0.2s
        -moz-transition all 0.2s
        -o-transition all 0.2s
        -ms-transition all 0.2s
        transition all 0.2s
        background #98ec79
        border 1px solid #98ec79
        height 45px
        padding 0 10px
        margin 0
        width 50%
        display inline-block
        -webkit-border-radius 12px
        border-radius 12px
        line-height inherit
        @media only screen and (max-width: 769px) and (orientation: landscape)
          width 40%
      #inputName
        width 40%
        margin-right 10px
      p
        font-size 26px
        line-height 34px
        color $color2
        display inline

      .btn
        font-size: 16px;
        font-weight: lighter;
        color: #fff;
        display: inline-block;
        background: #999;
        width: 55px;
        height: 55px;
        margin-right: 10px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        text-align: center;
        line-height: 55px;
        @media only screen and (max-width: 769px) and (orientation: landscape)
          margin 5px 0px

  .birthdayreminder
    width 100%
    display block
    padding 20px 0px
    float left
    p
      font-size 25.9px
      line-height 34px
      color $color2
      display block
    form
      .form-control
        float none
        -webkit-transition all 0.2s
        -moz-transition all 0.2s
        -o-transition all 0.2s
        -ms-transition all 0.2s
        transition all 0.2s
        background #98ec79
        border 1px solid #98ec79
        height 45px
        padding 0 10px
        margin 0
        width 75%
        display inline-block
        -webkit-border-radius 12px
        border-radius 12px
        @media only screen and (max-width: 769px) and (orientation: landscape)
          width 70%

      .btn
        font-size: 16px;
        font-weight: lighter;
        color: #fff;
        display: inline-block;
        background: #999;
        width: 55px;
        height: 55px;
        margin-right: 10px;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        text-align: center;
        line-height: 55px;
