#home
  position relative
.home-area
  width 100%
  position relative
  .question
    .prespace
      padding 35px 0px
      border-bottom 1px solid $color2
      h1
        font-weight bold
        font-size 30px
      p
        color $color2
        font-size 23px
        letter-spacing 1px
        line-height 36px
        margin-bottom: 10px
      form
        clearfix()
        &.highlight
            input
                &.ng-invalid
                    box-shadow 0 0 8px rgba(red, 1)
        &.highlight-extra
            input
                &.ng-dirty.ng-invalid
                &.ng-invalid
                    box-shadow 0 0 8px rgba(red, 1)
        button
            position relative
        input
            float: none
            transition all 0.2s
            background highlight-yellow
            border 1px solid highlight-yellow
            width 71%
            height 50px
            padding 0 40px
            margin 0
            border-radius 10px
            &.ng-dirty.ng-invalid
                box-shadow 0 0 8px rgba(red, 1)
            &.day-field
                padding 0 0 0 35px
                width 100%
            &.month-field
                width 40%
                padding 0 18px
                margin-right 5px
                margin-left 5px;
            &.year-field
                width 25%
                padding 0 18px
                margin-right 5px


        ::-webkit-input-placeholder
            color $color1
        .typeahead
            margin 0 0 20px 0
            &.icon-country
                margin 0 10px 0 0
                &:before
                    content ''
                    height 20px
                    width 20px
                    position absolute
                    z-index 9
                    top 15px
                    left: 12px;
                    background-image url('../images/country-icon.svg')
                    background-repeat no-repeat

        .toggle
            margin-top 20px
            margin-right 0px
            float left
            label
                padding 0 30px
                width 36px
        .icon
            position relative
            margin 0
            input
                padding-right 40px
            &:before
                position absolute
                left -2px
                top 4px
                content ''
                height 40px
                width 40px
                z-index 9
                background-icon()
            &.icon-birthday:after
                background-position -35px -230px
            &.icon-male:before
                background-image url('../images/user-male.svg')
                background-repeat no-repeat
                height 30px
                width 30px
                left 2px
                top 8px
            &.icon-female:before
                background-image url('../images/user-female.svg')
                background-repeat no-repeat
                height 30px
                width 30px
                left 2px
                top 8px

.di
  width 25%
  display inline-block
  &:before
    position absolute
    left 10px
    top 14px
    content ''
    height 20px
    width 20px
    z-index 9
    background-image url('../images/day-form.svg')
    background-repeat no-repeat
