#home
  position relative
.home-area
  width 100%
  position relative
  .question
    .prespace
      padding 35px 0px
      border-bottom 1px solid $color2
      h1
        font-weight bold
        font-size 30px
      p
        color $color2
        font-size 23px
        letter-spacing 1px
        line-height 36px
        margin-bottom: 10px
      form
        clearfix()
        &.highlight
            input
                &.ng-invalid
                    box-shadow 0 0 8px rgba(red, 1)
        &.highlight-extra
            input
                &.ng-dirty.ng-invalid
                &.ng-invalid
                    box-shadow 0 0 8px rgba(red, 1)
        button
            position relative
        input
            float: none
            transition all 0.2s
            background highlight-yellow
            border 1px solid highlight-yellow
            width 71%
            height 50px
            padding 0 25px
            margin 0
            border-radius 12px
            &.ng-dirty.ng-invalid
                box-shadow 0 0 8px rgba(red, 1)
            &.day-field
                padding 0 18px
                width 25%
                margin-right 5px
            &.month-field
                width 40%
                padding 0 18px
                margin-right 5px
            &.year-field
                width 25%
                padding 0 18px
                margin-right 5px


        ::-webkit-input-placeholder
            color #666
        .typeahead
            margin 0 0 20px 0
            &.icon-country
                margin 0 10px 0 0
                &:before
                    content ''
                    height 40px
                    width 40px
                    position absolute
                    z-index 9
                    top 6px
                    left: -8px;
                    background-icon()
                    background-position -30px -830px

        .toggle
            margin-top 20px
            margin-right 0px
            float left
            label
                padding 0 30px
        .icon
            position relative
            margin 0
            input
                padding-right 40px
            &:before
                position absolute
                left -2px
                top 4px
                content ''
                height 40px
                width 40px
                z-index 9
                background-icon()
            &.icon-birthday:after
                background-position -35px -230px
            &.icon-male:before
                background-position -130px -330px
            &.icon-female:before
                background-position -30px -330px
