.home-area
    height 680px
    z-index 20
    background #fff
    position relative
    margin 90px 0 240px 0
    .question
        position relative
        top 300px
        h1
            margin 0
            padding 0
            color #000
            font-size 72px
            font-family 'PlantinMTStd-Light', sans-serif
        p
            font-size 24px
            margin 20px 0 40px 0
            color #666666
            font-family 'Theinhardt-Light', 'Helvetica', sans-serif
    form
        /*clearfix()*/
        &.highlight
            input
                &.ng-invalid
                    box-shadow 0 0 5px rgba(red, 0.9)
        &.highlight-extra
            input
                &.ng-invalid
                    box-shadow 0 0 8px rgba(red, 1)
        button
            position relative
            top -35px
            left 10px
        input
            transition all 0.2s
            background highlight-yellow
            border 1px solid highlight-yellow
            width 240px
            height 50px
            padding 0 20px
            margin 0
            border-radius 12px
            &.day-field
                width 90px
                margin-right 10px
            &.month-field
                width 140px
                margin-right 10px
            &.year-field
                width 100px
                margin-right 30px

        ::-webkit-input-placeholder
            color #666
        .typeahead
            margin 0 0 0 0
            &.icon-country
                margin 0 10px 0 0
                &:after
                    content ''
                    height 40px
                    width 40px
                    position absolute
                    z-index 9
                    right 5px
                    top 6px
                    background-icon()
                    background-position -30px -830px

        .toggle
            margin-top 0px
            label
                padding-right 60px
        .icon
            position relative
            margin 0
            input
                padding-right 40px
            &:after
                content ''
                height 40px
                width 40px
                position absolute
                z-index 9
                right 5px
                top 4px
                background-icon()
            &.icon-birthday:after
                background-position -35px -230px
            &.icon-male:after
                background-position -130px -330px
            &.icon-female:after
                background-position -30px -330px
