.milestones-area
  .rank
    h3
      color $color2
      font-size 23px;
      font-family $font1
      font-weight normal
      padding 30px 0 20px
      line-height 1.2em
  .timeline
    ul
      li
        background-color $color5
        margin 15px -15px 15px
        padding 15px
        .time
          color $color3
        .title
          font-family $font2
          sup
            vertical-align super
            font-size 14px
            color $color2
          .fontgrey
            color $color2
      li:nth-child(2n)
        background-color $color4
        margin 0 -15px
        padding 15px
        .time
          color $color3
        .title
          font-family $font2
          sup
            vertical-align super
            font-size 14px
            color $color2
          .fontgrey
            color $color2
.background
    fill transparent
    fill-opacity 0.01

.component
  fill transparent
  .label
    font-family $font1
    text-anchor middle
    fill $color2


.arc
    stroke-weight 0.1
    fill $color1



.arc2
    stroke-weight:0.1
    fill trasparent



.label
  font-family $font1
  text-anchor middle
  color $color3


.radial-svg
  display block
