.milestones-area
  .rank
    h3
      color $color2
      font-size 23px;
      font-family $font1
      font-weight normal
      padding 30px 0 20px
      line-height 1.2em
  .timeline
    ul
      li
        background-color $color5
        padding 15px
        margin 0 -15px
        .time
          color $color3
        sup
          vertical-align super
          font-size 14px
          color $color2
          font-family $font2
        .fontgrey
          font-family $font2
          color $color2
      li:nth-child(2n)
        background-color $color4
        margin 0 -15px
        padding 15px
        .time
          color $color3
        sup
          vertical-align super
          font-size 14px
          color $color2
          font-family $font2
        .fontgrey
          font-family $font2
          color $color2
