.container
  display: inline-block;
  .milestones-area
    .rank
      padding 0 15px
      margin 0 -15px
      h3
        color $color2
        font-size 23px;
        font-family $font1
        font-weight normal
        padding 10px 0 20px
        line-height 1.2em

    .timeline
      ul
        li
          clear both
          float left
          width calc(100% + 30px)
          background-color $color4
          margin 0px -15px
          padding 10px 0px
          display block
          milestone
            width 32%
            float left

            @media only screen and (max-width: 769px) and (orientation: landscape)
              width 20%

            .time
              fill $color3
            .title
              font-family $font2
              sup
                vertical-align super
                font-size 14px
                color $color2
              .fontgrey
                color $color2
            circle
              fill $color1
              stroke $color4
            circle:last-child
              fill #63f
              r 4
          p
            font-family $font2
            width 50%
            float left
            margin-top 5%
            color $color2
            font-size 20px
            line-height 22px

            @media only screen and (max-width: 769px) and (orientation: landscape)
              margin-top 2%
              width 65%

            .black
              font-size 22px
              color $color1
              font-weight bold
            .oneline
              line-height 40px

              @media only screen and (max-width: 769px) and (orientation: landscape)
                line-height 55px

            sup
              vertical-align super
              font-size 15px

        li:nth-child(2n)
          clear both
          float left
          width calc(100% + 30px)
          background-color $color5
          margin 0 -15px
          padding 10px 0px
          display block
          milestone
            .time
              fill $color3
            .title
              font-family $font2

            circle
              fill $color1
              stroke $color5
            circle:last-child
              fill #63f
              r 4

    .icalDownloadImg
      display inline-block
      width 30px
      height auto
      float left
      margin-top 7%
      margin-left 3%
      @media only screen and (max-width: 769px) and (orientation: landscape)
        width 30px
        margin-top 30px
        margin-left 0px

    .arc
      fill $color1
