.people-area
  height 950px
  .loader
    bottom 75px
  header
    border-bottom none
  .dot
    display inline-block
    height 12px
    width 12px
    margin-bottom 2px
    vertical-align middle
    border-radius 12px
  .dot.global
    background highlight-yellow
  .dot.local
    background highlight-blue
  .roll-celeb
    text
      font-size 12px !important