.story-area
  height 900px
  .col
    float left
    &.ranks
      width 20%
    &.timeline
      width 30%
    &.storyline
      width 50%
  .timeline
    li
      padding 10px
      position relative
      &.selected
        background #ccc
        cursor pointer
      &:before
        position absolute
        content ''
        background #ccc
        left 0
        top 0
        height 100%
        width 2px

      &.past:before
        background yellow
      &.now:before
        background #000
    .year
      padding-right 20px
      font-size 12px
