.story-area
  height 950px
  .timeline
    width 70%
    position relative
    float left
    height 780px
    ul
      width 320px
      max-height 600px
      overflow auto
    li
      padding 20px 20px 20px 94px
      font-size 18px
      position relative
      &.selected
        background #f3f3f3
        cursor pointer
      &:before
        position absolute
        content ''
        background border-color
        left 0
        top 0
        height 100%
        width 4px
      &.past:before
        background highlight-yellow
      &.now:before
        background #333
    .time
      position absolute
      top 50%
      left 24px
      margin-top -18px
      height 36px
      color: #666666
      font-size 18px
    .date
      display block
      font-size 12px
      width 60
  .timeline:after
    content ''
    position absolute
    right 40px
    top 122px
    bottom 70px
    border-right 1px solid border-color
  story-line
    position absolute
    top 130px
    left 340px
  .rank
    width 30%
    float left
    .title
      margin 10px 0 0 0
      font-size 18px
      color #666666
    .value
      color #333333
      font-size 36px
      margin 0 0 40px 0
    rank-graph
      position relative
      left -8px