.story-area
  background rgba(black, 0.3)
  height 500px
  .col
    height 100%
    float left
  .col.ranks
    width 20%
  .col.timeline
    width 30%
  .col.storyline
    width 50%
  .timeline
    li
      padding 10px
      position relative
    li.selected
      background #ccc
      cursor pointer
    .year
      padding-right 20px
      font-size 12px
    li:before
      position absolute
      content ''
      background #ccc
      left 0
      top 0
      height 100%
      width 2px
    li.past:before
      background yellow
    li.now:before
      background #000