.summary-area
    min-height calc(100vh - 136px)
    summary-chart
        display block
        width 100%
        overflow hidden
        .domain
            fill transparent
        .axis
            .tick
                opacity 0
                line
                    fill transparent
                text
                    fill $color2
                    font-size 14px
                    font-weight bold
        .x-label
        .y-label
            fill $color2
            font-size 16px
            font-weight bold
            margin-left 4px
        .pointer
          text
            font-family $font4
    h3
        color $color2
        font-size 23px;
        font-family $font1
        font-weight normal
        padding 10px 0px 20px
        line-height 1.2em
        span
          color #222
          font-weight bold
.green
  color $color3 !important
  font-weight bold
.green-light
  color highlight-yellow !important

.summary-area-location
    min-height calc(100vh - 136px)
    summary-chart-location
        display block
        width 100%
        overflow hidden
        .domain
            fill transparent
        .axis
            .tick
                opacity 0
                line
                    fill transparent
                text
                    fill $color2
                    font-size 14px
                    font-weight bold;
                .yte
                    text-anchor start !important
                    font-size 14px
                    font-weight bold
        .x-label
        .y-label
            fill $color2
            font-size 16px
            font-weight bold
            margin-left 4px
        .pointer
          text
            font-family $font4
    h3
        color $color2
        font-size 23px;
        font-family $font1
        font-weight normal
        padding 10px 0px 20px
        line-height 1.2em
        span
          color #222
          font-weight bold

.blue
  color $active-blue !important
.blue-light
  color $highlight-blue !important
