.summary-area
    min-height calc(100vh - 136px)
    summary-chart
        display block
        width 100%
        overflow hidden
        .domain
            fill transparent
        .axis
            .tick
                opacity 0
                line
                    fill transparent
                text
                    fill $color2
                    font-size 12px
        .x-label
        .y-label
            fill $color2
            font-size 12px
    h3
        color $color2
        font-size 23px;
        font-family $font1
        font-weight normal
        padding 30px 0
        line-height 1.2em
        span
          color #222
.green
  color $color3 !important
.green-light
  color highlight-yellow !important

.summary-area-location
    min-height calc(100vh - 136px)
    summary-chart-location
        display block
        width 100%
        overflow hidden
        .domain
            fill transparent
        .axis
            .tick
                opacity 0
                line
                    fill transparent
                text
                    fill $color2
                    font-size 12px
                .yte
                    text-anchor start !important
        .x-label
        .y-label
            fill $color2
            font-size 12px
    h3
        color $color2
        font-size 23px;
        font-family $font1
        font-weight normal
        padding 30px 0
        line-height 1.2em
        span
          color #222

.blue
  color $active-blue !important
.blue-light
  color $highlight-blue !important
