.summary-area
    height 900px
    younger-older-chart
        display block
        .domain
            fill transparent
            stroke #D9D9D9
            stroke-width 1px
        .axis
            .tick
                opacity 0
                line
                    stroke #b0b0b0
                    stroke-width 1px
                text
                    fill #b0b0b0
                    font-size 12px
        .x-label
        .y-label
            fill #333
            font-size 12px
    h3
        color #999
        font-size 36px
        font-family 'PlantinMTStd-Light', sans-serif
        font-weight normal
        margin 0 0 40px 0
        padding 30px 0
        border-top 1px solid rgba(0, 0, 0, 0.2)
        border-bottom @border-top
        line-height 1.2em
        span
            color #222
    .region-switcher
        border 1px solid rgba(0, 0, 0, 0.2)
        clearfix()
        width 400px
        margin 0 auto
        border-radius 4px
        span
            cursor pointer
            box-sizing border-box
            width 200px
            display block
            float left
            text-align center
            line-height 40px
            &:nth-child(2)
                border-left 1px solid rgba(0, 0, 0, 0.2)
            &.active
                background highlight-yellow
    .younger-you-older-section
        margin 70px 0
        clearfix()
        .you-column
            float left
            width 20%
            text-align center
            color #999
            font-weight 100
            line-height 1.3
            .icon
                text-align center
                svg
                    display inline
            span
                color #222
                font-weight 500
        .younger-column
        .older-column
            width 40%
            float left
            text-align center
            .number
                margin-top 37px
                font-family 'PlantinMTStd-Light', sans-serif
                font-size 48px
            .label
                color #999
                font-weight 100