$color1 = #333
$color2 = #999
$color3 = #3c3
$color4 = #e5e5e5
highlight-yellow = #98EC79
highlight-blue = #6581F1

$active-blue = #63f

highlight-color1 = #ef8d00
highlight-color2 = #c30000
header-color = #AC92CE
border-color = #dedede
