header-color = #AC92CE
border-color = #dedede
h1-color = #999999
h1-span-color = #333333
p-color = #666666
highlight-yellow = #ffff66
highlight-blue = #21edff
highlight-color1 = #ef8d00
highlight-color2 = #c30000