$color1 = #333
$color2 = #999
$color3 = #666
$color4 = #e5e5e5
$color5 = #fff
highlight-yellow = #613fc2
highlight-blue = #6581F1

$active-blue = #bdaee9
$highlight-blue = #bdaee9


highlight-color1 = #ef8d00
highlight-color2 = #c30000
header-color = #AC92CE
border-color = #dedede
