footer
  .block
    padding 5px 0px 15px 0px
    float right
    color $color2
    span
      font-size 10px
    a
      font-size 10px
      color inherit
      display inline-block
.linetop
    border-top 1px solid $color2
