footer
  .block
    padding 5px 0px 15px 0px
    float right
    color $color2
    span
      font-size 10px
    a
      font-size 10px
      color inherit
      display inline-block
.linetop
    border-top 1px solid $color2
.right-share
  background-image url('../images/right-share.svg')
  position absolute
  bottom 0
  right -15px
  background-repeat no-repeat
  width 99px
  height 99px
