footer
  background #666
  color #eee
  height 520px
  .container
    width container-width
    padding 100px 0 0 0
    margin 0 auto
    box-sizing border-box
  .block
    width 380px
    float left
    margin 0 25px 0 0
  input[type=email]
    width 250px
  blockquote,
  p
    font-family 'sans-serif'
    color border-color
    margin 20px 0 20px 0
    line-height 1.4em
    font-size 14px
  h2
    font-size 24px
    color #fff
    margin 0
    padding 0
    height 80px
    border-bottom 1px solid border-color
  h2.icon
    position relative
    text-indent 40px
  h2.icon:before
    position absolute
    left 0
    top 3px
    content ''
    height 22px
    width 30px
    margin 0
    background-icon()
  h2.icon-mail:before
    background-position -336px -640px
  h2.icon-calendar:before
    background-position -336px -740px
  a
    color #fff
    font-size 14px
    display block
    line-height 1.6em
  a:hover
    text-decoration underline
  a.icon
    padding-left 25px
    position relative
    line-height 24px
  a.icon:after
    content ''
    position absolute
    left 0
    top 3px
    width 20px
    height 20px
    background-icon()
  a.icon-fb:after
    background-position -341px -341px
  a.icon-twitter:after
    background-position -341px -441px
  ul
    clearfix()
    li
      border-top 1px solid border-color
      border-bottom 1px solid border-color
      margin-right 20px
      margin-top -1px
      width 180px
      float left
      position relative
    li:nth-child(2n)
      margin-right 0
    a
      padding 8px 0 8px 0
    a:after
      content ''
      position absolute
      right 0
      top 0
      bottom 0
      width 20px
      background-icon()
      background-position -345px -532px
  .block.small
    float right
    width 130px
    margin 0 0 0 25px
    h2
      height 60px
      font-size 18px
      margin 20px 0 20px 0