header
  clearfix()
  width container-width
  margin 20px auto 0
  border-bottom 1px solid #999
  .logo
    a
      display block
      float left
      line-height 50px
      font-weight 200
      font-size 20px
  ul.links-list
    float right
    li
      a
        display block
        float left
        line-height 50px
        padding 0 0 0 20px