header
  width 100%
  .container
    width 100%
    clearfix()
    padding 0px 0px 10px 0px
    border-bottom 1px solid $color2
    .logo
      margin-top -15px
      .title
        font-size 13px
        color $color1
        font-family $font1
        display block
        margin 0px 0px 5px 0px

      .subtitle
        font-size 10px
        color $color2
        display block

      .icon-alpha
        background-image url("../images/beta_opt.png")
        background-repeat no-repeat
        background-color transparent
        -webkit-border-radius 0
        border-radius 0
        height 50px
        width 50px
        position relative
        float left
        display block
        margin-left: 135px
        margin-top: -42px
        vertical-align middle
        background-size 100%

a
    display block
    cursor pointer

  .remove
    display none

  ul.link-list
      float right
      a
          font-size 14px
          display block
          cursor pointer
          float left
          line-height 40px
          padding 0 20px 0 20px

  form.change-language
       float right
       padding-top 10px
       padding-left 15px
       select
          font-size 12px
          color white
          padding-left 8px
          padding-right 5px
          background-color #333
          height 20px
          -webkit-appearance none

    // loader
    .loader
      position absolute
      text-align right
      z-index 2
      font-size 20px
      color #666
      opacity 0
      transition opacity 300ms ease

      &.active
        opacity 1

      &:after
        display block
        content ''
        z-index 1
        height 40px
        width 40px
        background highlight-yellow
        border-radius 40px
  .grey
    background-color $color4
    margin -15px
    padding 15px
    z-index 0
    .container
      border-bottom 0px
      padding-top 15px
      .logo
        h3
          position relative
          font-family $font2
          font-size 27px
          letter-spacing 1.1px
        .hr-ul-c
          text-align center
          ul.hr-inline
            margin-top 15px
            display inline-block
            li
              display inline-block
              span.dcircle
                border 1px solid $color1
                border-radius 60%
                margin 1px 5px
                font-size 2px
                padding 2px 4px
            .selected
              span.dcircle
                  background-color $active-blue
                  border-color $active-blue
