body
  color #333
  padding 0
  margin 0
  font-family 'helvetica neue', 'Helvetica', sans-serif

ul
li
  list-style-type none
  margin 0
  padding 0
svg
  display block
  margin 0
  pading 0
h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0

h1
  font-size 2em

a
  text-decoration none
  color #222

section
  width container-width
  max-width container-max-width
  margin 0 auto
