body
  color #333
  padding 0
  margin 0
  font-family 'Theinhardt-Light', 'Helvetica', sans-serif

ul
li
  list-style-type none
  margin 0
  padding 0
svg
  display block
  margin 0
  padding 0
h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
i
  font-style normal
h1
  font-size 2em
  color h1-color
  font-size 36px
  line-height 1.2em
  font-family 'PlantinMTStd-Light', sans-serif
  font-weight normal
  span
    color h1-span-color
strong,
b
  font-family 'Theinhardt-Medium', 'Helvetica', sans-serif
h2
  font-size 18px
  font-weight normal
  color #666666
  padding-left 30px
  position relative
  margin 50px 0

a
  text-decoration none
  color #222

// one page scroll
one-page-scroll
  top 80px
  position relative
  display block
  .slimScrollBar
    width 5px !important
    right 5px !important
    cursor pointer
    background rgba(0,0,0,0.2) !important
#fullPage-nav
  display none
  li
    height 25px
    width 25px
    margin 0
    cursor pointer
  span
    width 6px
    height 6px
    left 9px
    top 10px
    background #999
    border none
    &.active
      left 6px
      top 6px
      width 10px
      height 10px
      background #fff
      border 1px solid #999
.active
  #fullPage-nav
    display block

.container
  width container-width
  margin 0 auto
svg.defs-area
  display none
text
  cursor default

// share
.share
  background highlight-yellow
  position fixed
  bottom -32px
  font-size 14px
  right -60px
  z-index 10
  padding-top 15px
  height 80px
  width 150px
  text-align center
  transform rotate(-45deg)
.share.animate.ng-hide-add,
.share.animate.ng-hide-remove
  transition all ease 250ms
  display block !important
.share.animate.ng-hide-add.ng-hide-add-active,
.share.animate.ng-hide-remove
  transform translate3d(100px, 100px, 0) rotate(-45deg)
.share.animate.ng-hide-add,
.share.animate.ng-hide-remove.ng-hide-remove-active
  transform translate3d(0, 0, 0) rotate(-45deg)

// section
section
  header
    padding 40px 0
    border-bottom 1px solid border-color
  header.divided
    clearfix()
    h1
      width 50%
      float left
    h1:last-child
      text-align right
  h2:before
    content ''
    position absolute
    left 0
    top 7px
    width 8px
    height 8px
    border-radius 5px
    background #333

// typeahead
.typeahead
  position relative
  input
    outline 0
    border 1px solid border-color
    background-color #ffffff
    padding 10px 12px
    border-radius 12px
    font-size 14px
    width 200px
  .dropdown-menu
    overflow hidden
    border 1px solid border-color
    cursor pointer
    z-index 9999
    position absolute
    border-radius 12px
    margin-top 5px
    left 0px
    right 0px
    box-shadow 0 1px 1px rgba(0,0,0,0.2)
    background-color #ffffff
  li
    width 100%
    box-sizing border-box
    padding 10px 12px
    color p-color
    font-size 14px
  li.active,
  li:hover
    background-color highlight-yellow
  &.rel li.active,
  &.rel li:hover
    background-color highlight-blue

// form input fields
.form-inline
  > *
    float left
    margin-right 10px
  > *:last-child
    margin-right 0px
form
  input.form-control
    box-sizing border-box
    font-size 14px
    padding 12px
    background #fff
    border-radius 12px
    margin-top 0px
    margin-bottom 0px
    border 1px solid border-color
    outline none
  input.form-control.input-dark
    color #fff
    background #666666
    ::-webkit-input-placeholder
      font-size 14px
      color #fff
.btn
  height 46px
  width 46px
  border none
  background-icon()
  background-position -228px -730px
  cursor pointer
  outline none
.btn.btn-big
  height 120px
  width 120px
  background-position -300px -200px
.btn.loading
  animation breath-animation 2s infinite ease

@keyframes breath-animation
  0%
    transform scale(1.0)
  50%
    transform scale(0.8)
  0%
    transform scale(1.0)
  50%
    transform scale(0.8)
  0%
    transform scale(1.0)

*[disabled=disabled]
  opacity 0.5
  cursor default
.toggle
  overflow hidden
  label
    border 1px solid border-color
    float left
    margin 0
    font-size 14px
    padding 0 20px
    line-height 48px
    height 48px
    background #fff
    cursor pointer
  label:first-child
    border-top-left-radius 12px
    border-bottom-left-radius 12px
  label:last-child
    border-top-right-radius 12px
    border-bottom-right-radius 12px
  label.active
    border 1px solid highlight-yellow
    background highlight-yellow