@import nib

@import variables
@import colors

@import init

@import header
@import footer

@import 'areas/*'
@import 'widgets/*'

section
  header
    padding 40px 0
    border-bottom 1px solid border-color
    border-top 1px solid border-color