@import nib

@import variables
@import colors

@import init

@import header
@import footer

@import 'areas/*'
@import 'widgets/*'

section
  header
    padding 40px 0
    border-bottom 1px solid border-color
    border-top 1px solid border-color
  header.divided
    clearfix()
    h1
      width 50%
      float left
    h1:last-child
      text-align right