background-icon()
  background-image url(../images/sprite-icons.svg)
  background-repeat no-repeat
  background-color transparent
  border-radius 0


$font1 = 'Theinhardt-Light', 'Helvetica', sans-serif
$font2 = 'PlantinMTStd-Light', sans-serif
$font3 = 'Helvetica', sans-serif
