.container
  .birthdays-area
    header
      h1 You share a birthday with <span>68,798</span> people around the world and <span>10,719</span> people were born in the same hour
    h2.continental Continental<br/>statistics
    h2.world Birthdays around<br/>the world
    birthdays-chart(continents-data="continentsData", world-data="worldData")