header.grey
  .container
    .logo
      a
        h3(translate="BIRTHDAYS_HEADER")
      .hr-ul-c
        ul.hr-inline
          li(ng-repeat="item in items", ng-class="{selected: $index==currentIndex}")
            span.dcircle

.container
  .birthdays-area
    h3(translate="BIRTHDAYS_TEASER" translate-values="{sharedDay: sharedDay, sharedDayCountry: sharedDayCountry, world : 'the World', country: country }")
    birthdays-area(continents-data="continentsData", current-continent="currentContinent")
