header.grey
  .container
    .logo
      a
        h3(translate="BIRTHDAYS_HEADER")
      .hr-ul-c
        ul.hr-inline
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle.active
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle

.container
  .birthdays-area
    header
      h3(translate="BIRTHDAYS_TEASER" translate-values="{sharedDay: sharedDay, sharedDayCountry: sharedDayCountry, world : 'the World', country: country }")
    birthdays-chart(continents-data="continentsData", world-data="worldData")
