.container
  .birthdays-area
    header
      h1 {{ 'BIRTHDAYS_INTRO' | translate }} <i ng-bind-html="birthdayShare"></i>
    h2.continental(compile-unsafe="'BIRTHDAYS_TITLE_CONTINENTAL' | translate")
    h2.world(compile-unsafe="'BIRTHDAYS_TITLE_WORLD' | translate")
    birthdays-chart(continents-data="continentsData", world-data="worldData")
    .continents
      span {{ 'BIRTHDAYS_SWITCH_LABEL' | translate }}
      .toggle(ng-disabled="loading")
        label(ng-model="selectedContinental" btn-radio="'Asia'") {{ 'LOCAL_ASIA' | translate }}
        label(ng-model="selectedContinental" btn-radio="'Europe'") {{ 'LOCAL_EUROPE' | translate }}
        label(ng-model="selectedContinental" btn-radio="'Africa'") {{ 'LOCAL_AFRICA' | translate }}
        label(ng-model="selectedContinental" btn-radio="'North America'") {{ 'LOCAL_NORTH_AMERICA' | translate }}
        label(ng-model="selectedContinental" btn-radio="'South America'") {{ 'LOCAL_SOUTH_AMERICA' | translate }}
        label(ng-model="selectedContinental" btn-radio="'Oceania'") {{ 'LOCAL_OCEANIA' | translate }}
