.container
    .death-area
        header
            h1
                | We estimate that you will live until <span>{{dodWorld}}</span>
                | if you were an average world citizen. Whereas in <span>{{profile.country}}</span>
                | it would be until <span>{{dodCountry}}</span>.
        .type-switcher
            span(ng-class='{active:type=="distribution"}', ng-click='type="distribution"') Mortality Distribution
            span(ng-class='{active:type=="chances"}', ng-click='type="chances"') Chances of Dying

        death-chart
        h2 Projected Life Expectancy
        .death-stats
            .column
                .content
                    .title.world {{dodWorld}}
                    .copy You are expected to live </br><span>{{remainingLifeWorldInYears}} years</span> as a citizen of the <span>World</span>
            .column
                .content
                    .title {{differenceInDays}}
                    .copy Your life will be approximately <span>{{soMuchToDo}}</span> than the world's average for about <span>{{differenceInUnits }}</span>
            .column
                .content
                    .title.country {{dodCountry}}
                    .copy You are expected to live </br><span>{{remainingLifeCountryInYears}} years</span> as a citizen of <span>{{profile.country}}</span>
