.container
  .death-area
    h1 Death area
    h3 Don’t be scared! But if you are an average world citizen you would die on 9th Jan, 2051. Whereas in your home country France it would be on 8th Feb, 2061.
