.container
    .death-area
        header
            h1 Don’t be scared! But you are expected to die on 12th Sep, 2065 if you were a world citizen. Whereas in your home country France it would be on 2nd Mar, 2071.
        death-chart