.container
    .death-area
        header
            h1
                | Don’t be scared! But you are expected to die on <span>{{dod}}</span>
                | if you were a world citizen. Whereas in your home country <span>{{profile.country}}</span>
                | it would be on <span>?nd ???, ????</span>.
        h3(style="margin: 40px 0 20px 0;") Relative Number of Deaths by Age
        death-chart
        h3 Expected Date of Death
        .death-stats
            .column
                .content
                    .title.world ??th ???, ????
                    .copy After <span>? years</span> your life as a citizen of the <span>World</span> ends.
            .column
                .content
                    .title + 17,654 days
                    .copy Your life will be approximately <span>???</span> than the world's average for about <span>?? years</span>.
            .column
                .content
                    .title.country {{dod}}
                    .copy After <span>?? years</span> your life as a citizen of the <span>{{profile.country}}</span> ends.
