header.grey
  .container
    .logo
      a
        h3(translate="DEATH_HEADER") 
      .hr-ul-c
        ul.hr-inline
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle.active
          li
            span.dcircle

.container
  .death-area
    h3(translate="DEATH_INTRO" translate-values="{deathDay: dodWorld, deathDayCountry: dodCountry, world : 'the World', country: country }")
  death-chart(worldyearofdeath="remainingLifeWorldInYears", nowyear="ageNow", countryyearofdeath="remainingLifeCountryInYears")
