.container
  .expectancy-area
    header
      h1 {{ 'EXPECTANCY_INTRO' | translate }}
    .toolbar
        .country-selection
          .typeahead.ref
            input(id="countryRef",  type="text", ng-model="selectedCountryRef", typeahead="country.POPIO_NAME for country in countriesList($viewValue)", typeahead-wait-ms="100", typeahead-editable="false" )
          .icon.icon-vs
          .typeahead.rel
            input(id="countryRel", type="text", ng-model="selectedCountryRel", typeahead="country.POPIO_NAME for country in countriesList($viewValue)", typeahead-wait-ms="100", typeahead-editable="false" )
        .time-slider
          time-slider

    expectancy-map(country-ref="activeCountryRef", country-rel="activeCountryRel")
