.container
  .expectancy-area
    header
      h1 Imagine you lived today in a different country and with the life expectancy from a different time - how long could you expect to live?
    .toolbar
        .country-selection
          .typeahead.ref
            input( type="text", placeholder="Country", ng-model="selectedCountryRef", typeahead="country.POPIO_NAME for country in countriesList($viewValue)", typeahead-wait-ms="100", typeahead-editable="false" )
          .icon.icon-vs
          .typeahead.rel
            input( type="text", placeholder="Country", ng-model="selectedCountryRel", typeahead="country.POPIO_NAME for country in countriesList($viewValue)", typeahead-wait-ms="100", typeahead-editable="false" )
        .time-slider
          time-slider

    expectancy-map(country-ref="activeCountryRef", country-rel="activeCountryRel")