.container
  .fancy-sharing
    .share-btns      
      a#share-twitter(target="_blank", share="twitter", share-title="population.io")
        .icon-twitter
        span(translate="SHARING_TWITTER")
      a#share-facebook(target="_blank", share="facebook", share-title="population.io")    
        .icon-facebook
        span(translate="SHARING_FACEBOOK")
      a#share-linkedin(target="_blank", share="linkedin", share-title="population.io")
        .icon-linkedin
        span(translate="SHARING_LINKEDIN")
      #share-cal
        form(name="createicaldownload", novalidate)
          .icon-calendar(ng-click="createical()", type="button",ng-disabled="createicaldownload.$invalid")
        span(translate="SHARING_CALENDAR")
    .tell-your-friend
      form(name="tellYourFriend", novalidate)
        p(translate="SHARING_TO_A_FRIEND_P1")
        input.form-control(type="text", name="friendemail", id="inputEmail", placeholder="friend@email.com", ng-model="friendemail", required)
        p(translate="SHARING_TO_A_FRIEND_P2")
        input.form-control(type="text", name="name" id="inputName",placeholder="my name", ng-model="name",required)
        button.btn(type="button",ng-click="inviteMail()",ng-disabled="tellYourFriend.$invalid",translate="SHARING_SEND")
    .birthdayreminder
        p(translate="SHARING_UPDATE")
        form.form-inline(name="emailForm", novalidate)
          input.form-control(type="email", ng-model="email" , placeholder="my@email.com", required)
          button.btn(type="button",ng-click="registerMail()",ng-disabled="emailForm.$invalid || sending" translate="SHARING_SEND")
