world-clock
    h3 <i class="icon icon-world"></i>Current world<br/>population clock
.container
    .home-area
        .question
            h1 What's your place in the world population?
            p The Journey of your life in numbers and dates!<br/>Please enter your date of birth, country of birth and sex at birth:
            form.form-inline(name="goForm", novalidate, ng-class='{highlight:highlightErrors, "highlight-extra":highlightExtra}', autocomplete='off')
                input.fake-disable-autocomplete(type="password", style="display: none")
                .typeahead
                    input.day-field.form-control(type="text", name="birthdayDay", ng-value="profile.birthday.day", ng-model = "profile.birthday.day", placeholder = "Day", typeahead="birthdayDay for birthdayDay in birthdays($viewValue,'d')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-day, typeahead-on-select='setDay($item, $model, $label)', formnovalidate)
                .typeahead
                    input.month-field.form-control(type="text", name="birthdayMonth", ng-value="profile.birthday.month", ng-model = "profile.birthday.month", placeholder = "Month", typeahead="birthdayMonth for birthdayMonth in birthdays($viewValue,'m')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-month, typeahead-on-select='setMonth($item, $model, $label)', formnovalidate)
                .typeahead
                    input.year-field.form-control(type="text", name="birthdayYear", ng-value="profile.birthday.year", ng-model = "profile.birthday.year", placeholder = "Year", typeahead="birthdayYear for birthdayYear in birthdays($viewValue,'y')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-year, typeahead-on-select='setYear($item, $model, $label)', formnovalidate)
                .typeahead.icon-country
                    input.form-control(type="text",name='country', placeholder="Country", ng-model="profile.country", ng-value="profile.country", typeahead="country.POPIO_NAME for country in countries | filter: $viewValue", typeahead-wait-ms="100", typeahead-editable="true", required, stoptab, validate-country, typeahead-on-select='setCountry($item, $model, $label)', formnovalidate)
                .toggle
                    label.icon.icon-female(ng-model="profile.gender" btn-radio="'female'", required) Female
                    label.icon.icon-male(ng-model="profile.gender" btn-radio="'male'", required) Male
                a.btn.btn-big(ng-click="goGoGadget()", ng-disabled="loading", ng-class='{inactive:goForm.$invalid, loading:loading}') <span class="fa fa-refresh"></span>
