world-clock
    h3<i class="icon icon-world"> </i>
.container
    .home-area
        .question
          div.prespace
            h1 {{ 'HOME_TEXT_BIG' | translate }}
          div.prespace
            p(compile-unsafe="'HOME_TEXT_SMALL' | translate")
            form.form-inline(name="goForm", novalidate, ng-class='{highlight:highlightErrors, "highlight-extra":highlightExtra}', autocomplete='off')
                input.fake-disable-autocomplete(type="password", style="display: none")
                .typeahead
                    input.day-field.form-control(id="inputBirthDay", type="text", name="birthdayDay", ng-value="profile.birthday.day", ng-model = "profile.birthday.day", typeahead="birthdayDay for birthdayDay in birthdays($viewValue,'d')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-day, typeahead-on-select='setDay($item, $model, $label)', formnovalidate)

                    input.month-field.form-control(id="inputBirthMonth", type="text", name="birthdayMonth", ng-value="profile.birthday.month", ng-model = "profile.birthday.month", typeahead="birthdayMonth for birthdayMonth in birthdays($viewValue,'m')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-month, typeahead-on-select='setMonth($item, $model, $label)', formnovalidate)

                    input.year-field.form-control(id="inputBirthYear", type="text", name="birthdayYear", ng-value="profile.birthday.year", ng-model = "profile.birthday.year", typeahead="birthdayYear for birthdayYear in birthdays($viewValue,'y')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-year, typeahead-on-select='setYear($item, $model, $label)', formnovalidate)
                  .typeahead.icon-country
                    input.form-control(id="inputBirthCountry", type="text",name='country', ng-model="profile.country", ng-value="profile.country", typeahead="country.POPIO_NAME for country in countriesList($viewValue)", typeahead-wait-ms="100", typeahead-editable="true", required, stoptab, validate-country, typeahead-on-select='setCountry($item, $model, $label)', formnovalidate)
                .toggle
                  label.icon.icon-female(ng-model="profile.gender" btn-radio="'female'", required) {{ 'LOCAL_FEMALE' | translate }}
                  label.icon.icon-male(ng-model="profile.gender" btn-radio="'male'", required) {{ 'LOCAL_MALE' | translate }}
                a.btn.btn-big(ng-click="goGoGadget()", ng-disabled="loading", ng-class='{inactive:goForm.$invalid, loading:loading}') <span class="fa fa-refresh"></span>
