header
  .container
    .logo
      a
        span.title(translate="POP_IO")
        span.subtitle(translate="MOBILE_HEADER_TITLE")
        span.icon-alpha
    i.menu-bar-icon(ng-click="showMenu()" ng-hide="isVisible")
world-clock
    h3<i class="icon icon-world"> </i>
.container
    .home-area
        .question
          div.prespace
            h1(translate="MOBILE_HOME_TEXT_BIG")
          div.prespace
            p(compile-unsafe="'MOBILE_HOME_TEXT_SMALL' | translate")
            form.form-inline(name="goForm", novalidate, ng-class='{highlight:highlightErrors, "highlight-extra":highlightExtra}', autocomplete='off')
                input.fake-disable-autocomplete(type="password", style="display: none")
                .typeahead
                    .di
                      input.day-field.form-control(id="inputBirthDay", type="number", name="birthdayDay", ng-value="profile.birthday.day", ng-model = "profile.birthday.day", typeahead="birthdayDay for birthdayDay in birthdays($viewValue,'d')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-day, typeahead-on-select='setDay($item, $model, $label)', formnovalidate)
                    
                    .dm
                      input.month-field.form-control(id="inputBirthMonth", type="text", name="birthdayMonth", ng-value="profile.birthday.month", ng-model = "profile.birthday.month", typeahead="birthdayMonth for birthdayMonth in birthdays($viewValue,'m')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-month, typeahead-on-select='setMonth($item, $model, $label)', formnovalidate)
                    .dy
                      input.year-field.form-control(id="inputBirthYear", type="number", name="birthdayYear", ng-value="profile.birthday.year", ng-model = "profile.birthday.year", typeahead="birthdayYear for birthdayYear in birthdays($viewValue,'y')", typeahead-wait-ms="100", typeahead-editable="true", required, validate-year, typeahead-on-select='setYear($item, $model, $label)', formnovalidate)    
                  .typeahead
                    .icon-country
                      input.form-control(id="inputBirthCountry", type="text",name='country', ng-model="profile.country", ng-value="profile.country", typeahead="country.POPIO_NAME for country in countriesList($viewValue)", typeahead-wait-ms="100", typeahead-editable="true", required, stoptab, validate-country, typeahead-on-select='setCountry($item, $model, $label)', formnovalidate)
                .toggle
                  label.icon.icon-female(ng-model="profile.gender" btn-radio="'female'", required, translate="LOCAL_FEMALE")
                  label.icon.icon-male(ng-model="profile.gender" btn-radio="'male'", required, translate="LOCAL_MALE")
                a.btn.gobtn(ng-click="goGoGadget()", ng-disabled="inactive", ng-class='{inactive:goForm.$invalid}', translate="MOBILE_HOME_FORM_SUBMIT")
