header.grey
  .container
    .logo
      a(ng-click="showHomepage()")
        h3(translate="MILESTONES_INTRO")
      .hr-ul-c
        ul.hr-inline
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle.active
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle

.container
    .milestones-area
        .rank
            h3(translate="MILESTONES_NEXT")
