.container
  .milestones-area
    header
      h1 What are the big milestones to expect in your life? <i ng-bind-html="titleAlive"></i>
    .rank
      h2 Age Distribution
      .global-rank
        .title World
        rank-graph(country="'World'", data="globalRankData", age="age")
      .local-rank
        .title {{profile.country}}
        rank-graph(country="country", data="localRankData", age="age")

    .timeline
      h2 Timeline
      ul
        li(ng-repeat="item in milestonesData | orderBy:dateOrder:true", data-id="item.year", class="{{item.color}}", ng-class="{'is-rank': item.rank, 'now': item.now, 'past': item.year < year, 'selected': selectedYear === item.year}", ng-click="highlightMilestone(item.year)" )
          span.time
            span.date {{item.date | date: 'dd MMM' }}
            span.year {{item.date | date: 'yyyy' }}
          span.title {{item.title}}
      milestones(data="milestonesData", selected-year="selectedYear")

