header.grey
  .container
    .logo
      a
        h3(translate="MILESTONES_INTRO")
      .hr-ul-c
        ul.hr-inline
          li(ng-repeat="item in items", ng-class="{selected: $index==currentIndex}")
            span.dcircle

.container
    .milestones-area
        .rank
            h3(translate="MILESTONES_NEXT" translate-values="{val1: milestoneDate}")
        .timeline
          ul
            li(ng-repeat="item in milestones | orderBy:dateOrder:false", data-id="item.year", class="{{item.color}}", ng-class="{'is-rank': item.rank, 'now': item.now, 'past': item.year < year, 'selected': item.selected}")
              milestone(date="item.date | date: 'dd MMM'", year="item.date | date: 'yyyy'", values="item.percentages", numberofpercentagestoshow="$index+1")
              p(ng-bind-html="item.title")
              img(ng-click="downloadICalMilestone(item.date, item.title)", src="../images/arrow-icaldownload.png", class="icalDownloadImg")
