header.grey
  .container
    .logo
      a(ng-click="showHomepage()")
        h3(translate="MILESTONES_INTRO")
      .hr-ul-c
        ul.hr-inline
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle.active
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle
          li
            span.dcircle

.container
    .milestones-area
        .rank
            h3(translate="MILESTONES_NEXT" translate-values="{val1: milestoneDate}")
        .timeline
          ul
            li(ng-repeat="item in milestonesData | orderBy:dateOrder:false", data-id="item.year", class="{{item.color}}", ng-class="{'is-rank': item.rank, 'now': item.now, 'past': item.year < year, 'selected': item.selected}")
              milestone(date="item.date | date: 'dd MMM'", year="item.date | date: 'yyyy'", title="item.title")
