script(type="text/ng-template", id="about.html")
  .modal-header
    h3.modal-title {{ 'HEADER_MENU_ABOUT' | translate }}
  .modal-body
    p {{ 'ABOUT_INTRO' | translate }}
    h4 Credits
    p {{ 'ABOUT_CREDITS_CORE' | translate }}
    p {{ 'ABOUT_CREDITS_SUPPORTED' | translate }}
    p {{ 'ABOUT_CREDITS_CONTRIBUTERS' | translate }}
    h4 {{ 'ABOUT_DISCLAIMER_TITLE' | translate }}
    p {{ 'ABOUT_DISCLAIMER' | translate }}
  .modal-footer
    button(ng-click="$close()") OK!

script(type="text/ng-template", id="methodology.html")
  .modal-header
    h3.modal-title {{ 'METHODOLOGY_TITLE' | translate }}
  .modal-body
    p {{ 'METHODOLOGY_INTRO' | translate }}
  .modal-footer
    button(ng-click="$close()") OK!

script(type="text/ng-template", id="developers.html")
  .modal-header
    h3.modal-title {{ 'HEADER_MENU_API' | translate }}
  .modal-body
    p {{ 'API_INTRO' | translate }}
  .modal-footer
    button(ng-click="$close()") OK!

script(type="text/ng-template", id="browser-warning.html")
  .modal-header
    h3.modal-title {{ 'BROWSER_WARNING_TITLE' | translate }}
  .modal-body
    p {{ 'BROWSER_WARNING_INTRO' | translate }}
    .browser-list
      a(href="http://www.google.com/chrome", target="_blank")
        .icon.chome
        span.title Chrome
        span.publisher Google
      a(href="https://www.apple.com/de/safari", target="_blank")
        .icon.safari
        span.title Safari
        span.publisher Apple
      a(href="http://www.mozilla.com/firefox", target="_blank")
        .icon.firefox
        span.title Firefox
        span.publisher Mozilla Foundation
  .modal-footer
    button(ng-click="$close()") OK!
