script(type="text/ng-template", id="about.html")
  .modal-header
    h3.modal-title About
  .modal-body
    p <i>Population.io</i> aims to make demography – the study of human populations – accessible to a wider audience. We believe that demographic data can play an important role in understanding the social and economic developments of our time. Our hope is that people from all walks of life, in all ages and across all countries will explore a new perspective of their own life and find their own place in the world of today and tomorrow.
    h4 Credits
    p <i>Population.io</i> has been developed by <a href="http://blogs.worldbank.org/team/wolfgang-fengler">Wolfgang Fengler</a>, together with <a href="http://www.iiasa.ac.at/web/home/research/researchPrograms/WorldPopulation/Staff/K-C-Samir.en.html">K.C. Samir</a> and <a href="http://benedikt-gross.de/">Benedikt Groß</a>.
    p The project is a volunteer effort which has been supported by the <a href="http://data.worldbank.org/">World Bank Data Group</a> and the <a href="http://www.iiasa.ac.at/">International Institute for Applied Systems Analysis</a> (IIASA). The team also appreciates the partnership with the United Nations Population Division, which is providing the estimates and projections, on which our model is based on (see methodology). And just has been possible with the generous volunteer contributions of (latest to oldest):
    p <a href="http://trojniak.net/">Rafał Trójniak</a> (backend/cloud computing), <a href="http://andrewwhitby.com/">Andrew Whitby</a> (algorithms and implementation in Python), <a href="http://lukaszcaputa.eu/">Łukasz Caputa</a> (consulting mobile apps), <a href="http://www.wu.ac.at/sozio/institut/personalextern/tkriszti">Tamás Krisztin</a> (algorithms and implementation in Python), <a href="http://jk-lee.com/">Joey Lee</a> (maps, GIS and R to Python porting), <a href="http://www.47nord.de/">47 Nord</a> (layouts and implementation α version) and Emi Suzuki (demographic data).  
    h4 Disclaimer
    p The interpolated values used in the application have been developed by the team of <i>Population.io</i> and were derived from different sets of estimates and projections published in the <a href="http://www.un.org/en/development/desa/population/">United Nations Population Division’s</a> <a href="http://esa.un.org/wpp/">World Population Prospects, the 2012 Revision</a>. They reflect the most up to date estimates for each country as well as for the world as a whole. There remain data quality issues, especially for developing countries. It is also important to note that, especially for the projection of life expectancy, the system is calculating the mid-points of probability functions (see section on methodology). Life expectancy, however, is determined by many factors and <i>Population.io</i> only highlights three of them: existing age, gender and country of birth/residence. Life expectancy will also be shaped by many future developments, some of which will be unforeseen.
    p <i>Population.io</i> does not take any responsibility for the accuracy of the data and will invest in upgrading the system as more data and the results of additional modelling become available.
  .modal-footer
    button(ng-click="$close()") Got it!

script(type="text/ng-template", id="methodology.html")
  .modal-header
    h3.modal-title Methodology
  .modal-body
    p <i>Population.io</i> uses official demographic data produced by the United Nations and published in the World Population Prospects (see data sources for details) most of which is available in annual or 5-year cycles. <i>Population.io</i> uses the past estimates for 1950-2010 and the medium population projection up to 2100 and interpolates the distribution daily for the World and for 200 countries (excluding few countries with small population size) and uses the UN’s estimates and projections of life tables for interpolating individual life expectancy by date and place of birth. Specifically, the following interpolation techniques were used: 
    ul
      li Annual population by age in single year and sex in 1st July of each year was interpolated to single day by fitting spline function. The daily population by age in single year and sex were interpolated for ages in days by fitting spline function.
      li Remaining life expectancy at specific age (in days) was obtained by interpolating (spline) the 5 yearly/duration age-specific period life expectancies.
    h4 Source data
    ul
      li <a href="http://esa.un.org/wpp/">World Population Prospects (2012 Revision)</a>, United Nations Population Division (released in 2013)
      li <a href="https://github.com/worldpopulation/population.io-api/blob/master/data/WPP2012_INT_F3_Population_By_Sex_Annual_Single_100_Medium.zip">WPP2012_INT_F3_Population_By_Sex_Annual_Single_100_Medium.csv</a>: Annual population distribution by single age and sex: for the period 1950-2010 (estimates) and 2011-2100 (Medium projection) for 200 countries with population size greater than 90,000 (in 2013) as well as for several UN World regions.
      li Age specific period life expectancy by sex – 5 yearly interval for age and duration – for the period 1950-2010 (estimates) and 2010-2100 (projections). Data were extracted from a file obtained from the UN.
  .modal-footer
    button(ng-click="$close()") Got it!

script(type="text/ng-template", id="developers.html")
  .modal-header
    h3.modal-title API
  .modal-body
    p All of the data you see on <i>population.io</i> is from a restful API which is nicely documented with details of methods and data sources used here:
    p <a href="http://api.population.io" target="_blank">api.population.io</a>
    p The source code behind this site and the API is also available at: <a href="https://github.com/worldpopulation/">github.com/worldpopulation</a> and developers are welcome to build on both the application and API.
  .modal-footer
    button(ng-click="$close()") Got it!

script(type="text/ng-template", id="browser-warning.html")
  .modal-header
    h3.modal-title Browser Warning
  .modal-body
    p Your browser is out-of-date for this showcase. Please download one of these up-to-date, free and excellent browsers.
    .browser-list
      a(href="http://www.google.com/chrome", target="_blank")
        .icon.chome
        span.title Chrome
        span.publisher Google
      a(href="https://www.apple.com/de/safari", target="_blank")
        .icon.safari
        span.title Safari
        span.publisher Apple
      a(href="http://www.mozilla.com/firefox", target="_blank")
        .icon.firefox
        span.title Firefox
        span.publisher Mozilla Foundation
  .modal-footer
    button(ng-click="$close()") Got it!