script(type="text/ng-template", id="about.html")
  .modal-header
    h3.modal-title About
  .modal-body
    p The World Population Project (WPP) aims to make demography - the statistical study of human populations -  accessible to a wider audience. We believe demography and demographic data are key to understanding social and economic phenomena, and that a better appreciation of demographic trends helps individuals see their place in the world.
    h4 Credits
    p The World Population Project has been developed by Wolfgang Fengler, together with K.C. Samir, <a href="http://benedikt-gross.de/">Benedikt Groß</a>, Emi Suzuki, Tariq Khokar and <a href="http://www.47nord.de/">47 Nord</a>.
    p The project is supported by the <a href="http://www.worldbank.org/">The World Bank</a>, the <a href="http://www.iiasa.ac.at/">International Institute for Applied Systems Analysis</a> (IIASA), and generous volunteer contributions by <a href="http://jk-lee.com//">Joey Lee</a> and others.
  .modal-footer
    button(ng-click="$close()") Got it!

script(type="text/ng-template", id="developers.html")
  .modal-header
    h3.modal-title Developers
  .modal-body
    p All of the data you see on the World Population Project (WPP) site is from a restful API which is nicely documented with details of methods and data sources used.
    p <a href="http://api.population.io" target="_blank">api.population.io</a>
    p The source code behind this site and the API is also available at: <a href="https://github.com/worldpopulation/">github.com/worldpopulation</a> and developers are welcome to build on both the application and API.
  .modal-footer
    button(ng-click="$close()") Got it!

script(type="text/ng-template", id="browser-warning.html")
  .modal-header
    h3.modal-title Browser Warning
  .modal-body
    p Your browser is out-of-date for this showcase. Please download one of these up-to-date, free and excellent browsers.
    .browser-list
      a(href="http://www.google.com/chrome", target="_blank")
        .icon.chome
        span.title Chrome
        span.publisher Google
      a(href="https://www.apple.com/de/safari", target="_blank")
        .icon.safari
        span.title Safari
        span.publisher Apple
      a(href="http://www.mozilla.com/firefox", target="_blank")
        .icon.firefox
        span.title Firefox
        span.publisher Mozilla Foundation
  .modal-footer
    button(ng-click="$close()") Got it!