.container
  .people-area
    header.divided
      h1 You are the <span>{{ rankGlobal | number:0 }}</span> person<br/>born that's alive today <span>in the world</span>
      h1 You are the <span>{{ rankLocal | number:0 }}</span> person<br/>born that's alive <span>in Germany</span>
    people-grid