.container
  .people-area
    header
      h1 You are person <span>{{ rankGlobal | number:0 }}</span> born in the world that’s alive today - that’s person <span>{{ rankLocal | number:0 }}</span> that’s alive in <span>{{profile.country}}</span>
    people-grid
      .wip