.container
  .story-area
    header
      h1 What are the milestones to expect in your life? <i ng-bind-html="titleAlive"></i> <i ng-bind-html="titleDie"></i>
      .loader.fa.fa-refresh(ng-class="{'active': loading}")
    div.rank
      h2 Rank
      .global-rank
        rank-graph(country="'the World'", data="globalRankData")
        .title Your global rank
        .value {{rankGlobal | number:0 }}
      .local-rank
        rank-graph(country="country", data="localRankData")
        .title Your rank in {{country}}
        .value {{rankLocal | number:0 }}

    div.timeline
      h2 Timeline
      ul
        li(ng-repeat="item in storyLineData | orderBy:dateOrder:true",
          data-id="item.year",
          class="{{item.color}}",
          ng-class="{'is-rank': item.rank, 'now': item.now, 'past': item.year < year, 'selected': selectedYear === item.year}",
          ng-click="highlightStoryLine(item.year)"
          )
          span.time
            span.date {{item.date | date: 'dd MMM' }}
            span.year {{item.date | date: 'yyyy' }}
          span.title {{item.title}}
      story-line(data="storyLineData", selected-year="selectedYear")

