.container
  .summary-area
    h1 Summary
    h3 Do you think you belong to the young or old? You are the XXX,XXX,XX person alive on the planet. This means that you are the XX% [youngest] in the world / XX% [oldest] in [Germany].