header.grey
  .container
    .logo
      a(ng-click="showHomepage()")
        h3 What is my relative age in the world?
      ul
        li
        li
        li
        li
        li
        li
        li

.container
  .summary-area
      h3(translate="SUMMARY_INTRO" translate-values="{val1: rankGlobal, val2: worldYoungerPercentageSimple, val3: countryYoungerPercentageSimple, val4: profile.country }")

      .younger-you-older-section
          .younger-column.country(ng-hide="region=='World'")
              .number {{ scaledRankYoungerLocal | number : 0}}
              .label(ng-bind='calcCountryYoungerPercentage()')
          .younger-column.world(ng-hide="region!='World'")
              .number {{ scaledRankYoungerGlobal | number : 0}}
              .label(ng-bind='calcWorldYoungerPercentage()')

              .label(compile-unsafe="'SUMMARY_CITIZEN' | translate")
          .older-column.country(ng-hide="region=='World'")
              .number(ng-bind='scaledRankOlderLocal | number: 0')
              .label(ng-bind='calcCountryOlderPercentage()')
          .older-column.world(ng-hide="region!='World'")
              .number(ng-bind='scaledRankOlderGlobal | number: 0')
              .label(ng-bind='calcWorldOlderPercentage()')
      summary-chart
