extends ../layouts/default
block content
    li
      section#home(ng-controller='HomeCtrl')
          include ../partials/home-area

    li
      section#summary(ng-controller='SummaryCtrl',class='item-animate')
          include ../partials/summary-area

    li
      section#summarylocation(ng-controller='SummaryCtrl', class='item-animate')
          include ../partials/summary-area-location

    li
      section#milestones(ng-controller='MilestonesCtrl', class='item-animate')
          include ../partials/milestones-area

    li
      section#birthdays(ng-controller='BirthdaysCtrl', class='item-animate')
          include ../partials/birthdays-area

    li
      section#expectancy(ng-controller='ExpectancyCtrl', class='item-animate')
          include ../partials/expectancy-area

    li
      section#death-area(ng-controller='DeathCtrl', class='item-animate')
          include ../partials/death-area

    li
      section#fancy-sharing(ng-controller='SharingCtrl', class='item-animate')
          include ../partials/fancy-sharing
