extends ../layouts/default
block content
    .content-block        
      section#home(ng-controller='HomeCtrl', ng-if='!isResults')
          include ../layouts/header
          include ../partials/home-area
          include ../layouts/footer
    .content-block
      section#summary(ng-controller='SummaryCtrl',class='item-animate', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults')
          include ../layouts/header
          include ../partials/summary-area
          include ../layouts/footer
    .content-block      
      section#summarylocation(ng-controller='SummaryCtrl', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults', class='item-animate')
          include ../layouts/header
          include ../partials/summary-area-location
          include ../layouts/footer
    .content-block
      section#milestones(ng-controller='MilestonesCtrl', class='item-animate', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults')
          include ../layouts/header
          include ../partials/milestones-area
          include ../layouts/footer
    .content-block
      section#birthdays(ng-controller='BirthdaysCtrl', class='item-animate', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults')
          include ../layouts/header
          include ../partials/birthdays-area
          include ../layouts/footer
    .content-block
      section#expectancy(ng-controller='ExpectancyCtrl', class='item-animate', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults')
          include ../layouts/header
          include ../partials/expectancy-area
          include ../layouts/footer
    .content-block
      section#death-area(ng-controller='DeathCtrl', class='item-animate', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults')
          include ../layouts/header.jade
          include ../partials/death-area
          include ../layouts/footer
    .content-block
      section#fancy-sharing(ng-controller='SharingCtrl', class='item-animate', ng-swipe-left="next()", ng-swipe-right="prev()", ng-if='isResults')
          include ../layouts/header
          include ../partials/fancy-sharing
        include ../layouts/footer
