extends ../layouts/default
block content
  ui-view
  svg.defs-area
    defs
      include ../../../assets/shapes-01.svg
      include ../../../assets/shapes-02.svg
      include ../../../assets/shapes-03.svg
      include ../../../assets/shapes-04.svg
      include ../../../assets/shapes-05.svg
      include ../../../assets/shapes-05-large.svg
      include ../../../assets/storyline.svg
  .share.animate(ng-hide="state === 'root'")
    a(ng-href="{{shareUrl}}", ng-click="share()") SHARE

  section#root(ng-controller='StatsCtrl', stats-area)

  div(ng-hide="state === 'root'")
    section#people(ng-controller='PeopleCtrl', people-area,, du-scrollspy='people', offset='200')
    section#story(ng-controller='StoryCtrl', story-area, du-scrollspy='story', offset='200')
    section#birthdays(ng-controller='BirthdaysCtrl', birthdays-area,, du-scrollspy='birthdays', offset='200')
    section#expectancy(ng-controller='ExpectancyCtrl', expectancy-area,, du-scrollspy='expectancy', offset='200')