extends ../layouts/default
block content
  svg.defs-area
    defs
      include ../../../assets/shapes-01.svg
      include ../../../assets/shapes-02.svg
  section(ng-controller='StatsCtrl', stats-area, data-order='0')
  section(ng-controller='PeopleCtrl', people-area, data-order='1')
  section(ng-controller='StoryCtrl', story-area, data-order='2')
  section(ng-controller='PositionCtrl', position-area, data-order='3')
  section(ng-controller='ExpectancyCtrl', expectancy-area, data-order='4')
  section(ng-controller='ShareCtrl', share-area, data-order='5')