extends ../layouts/default
block content
  svg.defs-area
    defs
      include ../../../assets/shapes-01.svg
      include ../../../assets/shapes-02.svg
      include ../../../assets/shapes-03.svg
      include ../../../assets/shapes-04.svg
      include ../../../assets/shapes-05.svg
      include ../../../assets/shapes-05-large.svg
  one-page-scroll
    div.section
      section(ng-controller='StatsCtrl', stats-area)
    div.section
      section(ng-controller='PeopleCtrl', people-area)
    div.section
      section(ng-controller='StoryCtrl', story-area)
    div.section
      section(ng-controller='BirthdaysCtrl', birthdays-area)
    div.section
      section(ng-controller='ExpectancyCtrl', expectancy-area)
      include ../layouts/footer