extends ../layouts/default
block content
    svg.defs-area
        defs
            include ../../../assets/shapes-01.svg
            include ../../../assets/shapes-02.svg
            include ../../../assets/shapes-03.svg
            include ../../../assets/shapes-04.svg
            include ../../../assets/shapes-05.svg
            include ../../../assets/shapes-05-large.svg
            include ../../../assets/female-large.svg
            include ../../../assets/milestones.svg
    section#home(ng-controller='HomeCtrl' ng-if='!isResults')
        include ../partials/home-area
    section#summary(ng-controller='SummaryCtrl', ng-class="{'hidden': !profile.active}", ng-if='isResults')
        include ../partials/summary-area
    section#summarylocation(ng-controller='SummaryCtrl', ng-class="{'hidden':!profile.active}", ng-if='isResults')
        include ../partials/summary-area-location
    section#milestones(ng-controller='MilestonesCtrl',ng-class="{'hidden':!profile.active}", ng-if='isResults')
        include ../partials/milestones-area
    section#birthdays(ng-controller='BirthdaysCtrl', class="hidden")
        include ../partials/birthdays-area
    section#expectancy(ng-controller='ExpectancyCtrl',class="hidden")
        include ../partials/expectancy-area
    section#death(ng-controller='DeathCtrl', class="hidden")
        include ../partials/death-area
    include ../partials/modals
