extends ../layouts/default
block content
  ui-view
  svg.defs-area
    defs
      include ../../../assets/shapes-01.svg
      include ../../../assets/shapes-02.svg
      include ../../../assets/shapes-03.svg
      include ../../../assets/shapes-04.svg
      include ../../../assets/shapes-05.svg
      include ../../../assets/shapes-05-large.svg
      include ../../../assets/storyline.svg
  .share.animate(ng-show="profile.active")
    a(ng-href="{{shareUrl}}", ng-click="share()") SHARE
    .links(
      share-square="true",
      share-links="Facebook, Twitter, LinkedIn",
      share-title="population.io"
    )

  section#stats(ng-controller='StatsCtrl', du-scrollspy='stats', stats-area)

  div(ng-class="{'hidden': !profile.active}")
    section#people(ng-controller='PeopleCtrl', people-area, du-scrollspy='people', offset='200')
    section#story(ng-controller='StoryCtrl', story-area, du-scrollspy='story', offset='200')
    section#birthdays(ng-controller='BirthdaysCtrl', birthdays-area, du-scrollspy='birthdays', offset='200')
    section#expectancy(ng-controller='ExpectancyCtrl', expectancy-area, du-scrollspy='expectancy', offset='200')

  script(type="text/ng-template", id="about.html")
    .modal-header
      h3.modal-title About
    .modal-body
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      h4 Credits
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim a.
    .modal-footer
      button(ng-click="$close()") Got it!

  script(type="text/ng-template", id="developers.html")
    .modal-header
      h3.modal-title Developers
    .modal-body
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .modal-footer
      button(ng-click="$close()") Got it!