extends ../layouts/default
block content
    svg.defs-area
        defs
            include ../../../assets/shapes-01.svg
            include ../../../assets/shapes-02.svg
            include ../../../assets/shapes-03.svg
            include ../../../assets/shapes-04.svg
            include ../../../assets/shapes-05.svg
            include ../../../assets/shapes-05-large.svg
            include ../../../assets/female-large.svg
            include ../../../assets/milestones.svg
    section#home(ng-controller='HomeCtrl' ng-if='!isResults')
        include ../partials/home-area
    section#summary(ng-controller='SummaryCtrl', ng-class="{'hidden': !profile.active}", ng-if='isResults')
        include ../partials/summary-area
    section#summarylocation(ng-controller='SummaryCtrl', ng-class="{'hidden':!profile.active}", ng-if='isResults')
        include ../partials/summary-area-location
    section#milestones(ng-controller='MilestonesCtrl',ng-class="{'hidden':!profile.active}", ng-if='isResults')
        include ../partials/milestones-area
    //-  section#birthdays(ng-controller='BirthdaysCtrl',ng-class="{'hidden':!profile.active}", ng-if='isResults')
    //-      include ../partials/birthdays-area
    section#death-area(ng-controller='DeathCtrl', ng-class="{'hidden': !profile.active}", ng-if='isResults')
        include ../partials/death-area
    section#fancy-sharing(ng-controller='SharingCtrl', ng-class="{'hidden': !profile.active}", ng-if='isResults')
        include ../partials/fancy-sharing
