extends ../layouts/default
block content
  svg.defs-area
    defs
      include ../../../assets/shapes-01.svg
      include ../../../assets/shapes-02.svg
      include ../../../assets/shapes-03.svg
      include ../../../assets/shapes-04.svg
      include ../../../assets/shapes-05.svg
      include ../../../assets/shapes-05-large.svg
      include ../../../assets/female-large.svg
      include ../../../assets/storyline.svg

  .share.animate(ng-show="profile.active")
    span SHARE
    .links
      a.fa.fa-facebook-square(target="_blank", share="facebook", share-title="population.io")
      a.fa.fa-twitter-square(target="_blank", share="twitter", share-title="population.io")
      a.fa.fa-linkedin-square(target="_blank", share="linkedin", share-title="population.io")

  ul.navigation(ng-show="profile.active")
    li(ng-class="{'active': currentPage == 0}", ng-click="showSection('stats')") <span></span>
    li(ng-class="{'active': currentPage == 1}", ng-click="showSection('story')") <span></span>
    li(ng-class="{'active': currentPage == 2}", ng-click="showSection('people')") <span></span>
    li(ng-class="{'active': currentPage == 3}", ng-click="showSection('birthdays')") <span></span>
    li(ng-class="{'active': currentPage == 4}", ng-click="showSection('expectancy')") <span></span>

  section#stats(ng-controller='StatsCtrl', du-scrollspy='stats', data-index="0")
    include ../partials/stats-area
  section#story(ng-controller='StoryCtrl', du-scrollspy='story', offset='200', data-index="1", ng-class="{'hidden': !profile.active}")
    include ../partials/story-area
  section#people(ng-controller='PeopleCtrl', du-scrollspy='people', offset='200', data-index="2", ng-class="{'hidden': !profile.active}")
    include ../partials/people-area
  section#birthdays(ng-controller='BirthdaysCtrl', du-scrollspy='birthdays', data-index="3", offset='200', ng-class="{'hidden': !profile.active}")
    include ../partials/birthdays-area
  section#expectancy(ng-controller='ExpectancyCtrl', du-scrollspy='expectancy', data-index="4", offset='200', ng-class="{'hidden': !profile.active}")
    include ../partials/expectancy-area

  include ../partials/modals