expectancy-map
  text
    alignment-baseline hanging
  .value
    transform translate(0, 5px)
    font-size 24px
    fill #000
  .label
    transform translate(0, 30px)
    font-size 12px
    fill #999
  .country-rel.country-active
    fill black
    stroke black
  .country-ref.country-active
    fill orange
    stroke black
  .country
    fill #ccc