expectancy-map
  /*user-select none*/
  display block
  /*border-bottom 1px solid border-color*/
  line
    stroke-width 0.8
    stroke #575757
  .country:hover
    fill highlight-yellow
    cursor pointer
  .desc
    .years-left
      font-size 36px
      fill #333
    .text-block
      font-size 14px
      fill #999
      tspan
        fill #333
      line
        stroke #dedede
  .text-ref
    text-anchor start
  .text-rel
    text-anchor end
  .country-rel.country-active
    fill highlight-yellow
  .country-ref.country-active
    fill highlight-blue
  .country
    stroke border-color
    fill #e5e5e5