expectancy-map
  display block
  border-bottom 1px solid border-color
  text
    alignment-baseline hanging
  line
    stroke-width 0.8
    stroke border-color
  .desc
    .years-left
      transform translate(0, 15px)
      font-size 36px
      fill #333
    .text-block
      font-size 14px
      fill #999
      tspan
        alignment-baseline hanging
        fill #333
      line
        transform translate(0, -15px)
      text:last-child
        transform translate(0, 20px)
    .text-block:nth-child(3)
      transform translate(0, 120px)
    .text-block:nth-child(2)
      transform translate(0, 60px)
  .text-ref
    text-anchor start
  .text-rel
    text-anchor end
  .country-rel.country-active
    fill highlight-blue
  .country-ref.country-active
    fill highlight-yellow
  .country
    stroke border-color
    fill #e5e5e5