people-grid
  position relative
  top -15px
  .person
    .icon
      path
        fill rgba(0, 0, 0, 1)
    text
      font-size 8px
      fill black
    rect
      fill rgba(0, 0, 0, 0)
    &.highlight
      rect
        fill transparent
      .icon
        path
          fill rgba(0, 0, 0, 1)
    &.celeb
      path
        fill #333
    &.me
      path
        fill red
    path
      transition fill 0.2s
    &.highlighted
    &:hover
      path
        fill #21edff
  .bar-chart
    transform translate(0, 15px)
    .x-axis
      transform translate(0, 21px)
      path
        fill none
      text
        font-size 10px
        fill #aaa
      .tick.first
        text
          text-anchor start !important
          transform translate(5px, 0)
      .tick.last
        text
          text-anchor end !important
          transform translate(-5px, 0)
    .local
      .x-axis
        transform translate(0, -3px)
    .bar
      .percent
        font-size 11px
        fill #333333
        text-anchor end
      &.local
        transform translate(0, 17px)
        .percent
          transform translate(0, 30px)
        rect
          fill #eee
        rect.highlight
          fill highlight-blue
      &.world
        rect
          fill border-color
        rect.highlight
          fill highlight-yellow
        .percent
          transform translate(0, -7px)
  .navigator
    .title
      transform translate(10px, 20px)
      font-size 12px
      fill #999999
    .blocks
      .block
        fill white
        &.overlimit.first
          fill white
        &.overlimit
          fill transparent
    .frame
      fill #ebebeb
    .lens
      rect
        /*fill rgba(yellow,0.5)*/
        fill transparent
        stroke #333
        stroke-width 2
    .y-axis
      .tick
        line
          stroke-width 1px
          stroke #666
      .domain
        display none
      text
        fill #666666
        font-size 9px
        alignment-baseline hanging
    .celebs
      rect
        fill #999
    .person.me
      fill red

.celeb-tooltip-title
  font-size 18px
  text-anchor begin
  font-family serif
  fill #333

.celeb-tooltip-details
  font-size 14px
  text-anchor begin
  font-family serif
  fill #333
  text-transform capitalize

.celeb-tooltip-rank
  font-size 14px
  text-anchor begin
  font-family serif
  fill #222

.celebrities-bar
  .prev-celebs-button
  .next-celebs-button
    cursor pointer