people-grid
  position relative
  top -15px
  .person
    .icon
      path
        fill rgba(0, 0, 0, 0.2)
    text
      font-size 8px
      fill black
    rect
      fill rgba(0, 0, 0, 0)
    &.highlight
      rect
        fill transparent
      .icon
        path
          fill rgba(0, 0, 0, 1)
    &.me
      rect
        fill purple
  .bar-chart
    transform translate(0, 15px)
    .bar
      text
        font-size 11px
        fill #333333
        text-anchor end
      &.local
        transform translate(0, 10px)
        text
          transform translate(0, 24px)
        rect
          fill #eee
        rect.highlight
          fill highlight-blue
      &.world
        rect
          fill border-color
        rect.highlight
          fill highlight-yellow
        text
          transform translate(0, -7px)
  .navigator
    transform translate(1000px, 100px)
    .title
      transform translate(10px, 20px)
      font-size 12px
      fill #999999
    .blocks
      &.me
        fill black
    .frame
      fill #ebebeb
    .lens
      rect
        fill transparent
        stroke #333
        stroke-width 2
    .y-axis
      text
        fill #666666
        font-size 9px
        alignment-baseline hanging