rank-graph
  path
    fill highlight-blue
  .coord
    stroke border-color
    stroke-width 1
  text
    font-size 9px
  text.age
    text-anchor end
  .pointer
    line
      stroke border-color
      stroke-width 1
    circle
      fill #000
    text
      text-anchor end
      font-size 18px
      fill #333333
    text.desc
      fill #666666
      font-size 12px