story-line
  .ticks
    transform translate(0, -18px)
  .line
    fill none
    stroke-width 4
    stroke border-color
  .line.small
    stroke-width 2
  .line.highlight
    stroke-width 10
    stroke highlight-yellow
  .dot-wrapper
    transition all 500ms ease
    transform scale(1.0)
    cursor pointer
  .dot-wrapper:hover,
  .highlight .dot-wrapper
    transform scale(2.0)
  .dot
    circle
      stroke #fff
      stroke-width 2
      fill #000
    circle.color-1
      fill highlight-color1
    circle.color-2
      fill highlight-color2
    text
      cursor pointer
      fill #fff
      font-size 12px
      transform translate(0, 4px)