story-line
  .ticks
    transform translate(0, -18px)
  .line
    fill none
    stroke-width 4
    stroke border-color
  .line.small
    stroke-width 2
  .line.highlight
    stroke-width 10
    stroke highlight-yellow
  .dot
    circle
      stroke #fff
      stroke-width 2
      cursor pointer
    text
      fill #fff
      font-size 14px
      transform translate(0, 5px)
    &.highlight
      cursor pointer