story-line
  .ticks
    transform translate(0, -18px)
  .line
    fill none
    stroke-width 4
    stroke border-color
  .line.small
    stroke-width 2
  .line.highlight
    stroke-width 10
    stroke highlight-yellow
  .dot-wrapper
    transition all 500ms ease
    transform scale(1.0)
  .dot-wrapper:hover,
  .highlight .dot-wrapper
    transform scale(2.0)
  .dot
    cursor pointer
    circle
      stroke #fff
      stroke-width 2
      cursor pointer
      fill #000
    circle.colored
      fill highlight-blue
    text
      fill #fff
      font-size 14px
      transform translate(0, 5px)