time-slider
  line
    stroke border-color
    stroke-width 1px
  rect
    fill border-color
  .handle
    circle
      fill #333
      stroke #fff
      stroke-width 2px
    text
      fill #333
      text-anchor middle
      font-size 12px
      transform translate(0, -16px)
  .x-axis
    text
      text-anchor middle
      transform translate(0, 33px)
      font-size 9px
      fill #666666