.chart-tooltip
    background: rgba(0, 0, 0, 0.8)
    color #eee
    border-radius: 0;
    padding: 20px;
    height: auto;
    width: 160px;
    position: absolute;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1)
    left 0
    top 0
    z-index 2000
    display none
    &:before
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;

    p
        overflow: hidden
        font-size 9pt
        line-height 1.5

        &.tooltip-title
            font-weight: bold;
            margin: 0 0 20px;
            text-align: center;

        span.tooltip-label
            font-weight: normal;
            float: left;

        span.tooltip-value
            font-weight: bold;
            float: right;
        &:last-child
            margin: 0;
