world-clock
  clearfix()
  position absolute
  top 40px
  pointer-events none
  z-index 30
  display block
  overflow hidden
  background transparent
  h3
    font-weight normal
    font-size 18px
    line-height 1.1em
    position absolute
    color #666666
    bottom 71px
    display block
    padding-left 65px
    width 1200px
    margin-left -600px
    left 50%
    .icon
      background-icon()
      position absolute
      left 0
      height 40px
      width 60px
      background-position -25px -130px
  &:before
    content ''
    background none
    position absolute
    left 0
    bottom -10px
    width 100%
    height 130px
    z-index -1
  .digit
  .placeholder
    text
      fill #666
      font-weight 300
      font-size 20px
      text-anchor middle
  .counter
    transform translate(210px, 112px)
    text
      font-size 48px
  .country-title
    font-size 16px
    fill #555
    text-anchor middle
