doctype html
html(ng-app="populationioApp")
    head
        title Population.io
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")

        meta(name="description", content="The World Population Project")

        meta(property="og:title", content="Population.io")
        meta(roperty="og:url", content="http://www.population.io")
        meta(property="og:description", content="The World Population Project")
        meta(property="og:type", content="website")

        meta(name="twitter:title", value="Population.io")
        meta(name="twitter:description", value="The World Population Project")
        meta(name="twitter:url", value="http://www.population.io")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")

        link(rel="icon", href="images/favicon.png?v=2", type="image/png")
        link(rel="stylesheet", href="fonts/plantin/MyFontsWebfontsKit.css")
        link(rel="stylesheet", href="css/main.css")

        script(src='scripts/main.js')

    body(ng-controller='MainCtrl')
      div(class="inner", ng-controller='GoCtrl')
        include header
        .content-block
            block content
        include footer
        .chart-tooltip
