doctype html
html(ng-app="populationioApp")
  head
    title Population.io
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=1300")
    meta(name="description", content="The World Population Project")

    meta(property="og:title", content="Population.io")
    meta(roperty="og:url", content="http://www.population.io")
    meta(property="og:description", content="The World Population Project")
    meta(property="og:type", content="website")

    meta(name="twitter:title", value="Population.io")
    meta(name="twitter:description", value="The World Population Project")
    meta(name="twitter:url", value="http://www.population.io")

    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    link(rel="icon", href="images/favicon.png?v=2", type="image/png")
    link(rel="stylesheet", href="fonts/plantin/MyFontsWebfontsKit.css")
    link(rel="stylesheet", href="css/main.css")

body(ng-controller='MainCtrl')
  include header
  .content-block
    block content
  include footer

  script(src='scripts/ga.js')
  script(src='vendor/jquery.min.js')
  script(src='vendor/moment.min.js')
  script(src='vendor/d3.js')
  script(src='vendor/d3.geo.projection.v0.min.js')
  script(src='vendor/lodash.min.js')
  script(src='vendor/topojson.js')

  script(src='vendor/angular.min.js')
  script(src='vendor/angular-resource.min.js')
  script(src='vendor/angular-ui-router.min.js')
  script(src='vendor/angular-animate.min.js')
  script(src='vendor/angular-scroll.min.js')
  script(src='vendor/ui-bootstrap-tpls.min.js')
  script(src='vendor/ics.deps.min.js')
  script(src='vendor/ics.js')
  script(src='vendor/jquery-ui.min.js')
  script(src='vendor/bowser.min.js')

  script(src='scripts/ga.js')
  script(src='scripts/libs/d3Utils.js')

  script(src='scripts/app.js')
  script(src='scripts/controllers.js')
  script(src='scripts/filters.js')
  script(src='scripts/services.js')
  script(src='scripts/services/helloWords.js')
  script(src='scripts/directives.js')
  script(src='scripts/directives/birthdayPicker.js')
  script(src='scripts/directives/birthdaysArea.js')
  script(src='scripts/directives/expectancyMap.js')
  script(src='scripts/directives/rankGraph.js')
  script(src='scripts/directives/milestones.js')
  script(src='scripts/directives/timeSlider.js')
  script(src='scripts/directives/worldClock.js')
  script(src='scripts/directives/youngerOlderChart.js')