doctype html
html(ng-app="populationioApp")
  head
    title Population.io
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    meta(name="description", content="The World Population Project")
    //Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel="stylesheet", href="css/main.css")
body(ng-controller='MainCtrl')
  div(ng-view)

  include header
  block content

  script(src='vendor/jquery.min.js')
  script(src='vendor/d3.min.js')
  script(src='vendor/lodash.min.js')
  script(src='vendor/topojson.js')
  script(src='vendor/jquery.easing.min.js')
  script(src='vendor/jquery.slimscroll.min.js')
  script(src='vendor/jquery.fullPage.min.js')

  script(src='vendor/angular.min.js')
  script(src='vendor/angular-resource.min.js')
  script(src='vendor/angular-route.min.js')
  script(src='vendor/ui-bootstrap-tpls.min.js')

  script(src='scripts/directives/d3Utils.js')

  script(src='scripts/app.js')
  script(src='scripts/controllers.js')
  script(src='scripts/services.js')
  script(src='scripts/directives.js')
  script(src='scripts/directives/birthdaysArea.js')
  script(src='scripts/directives/expectancyMap.js')
  script(src='scripts/directives/peopleGrid.js')
  script(src='scripts/directives/rankGraph.js')
  script(src='scripts/directives/storyLine.js')
  script(src='scripts/directives/timeSlider.js')
  script(src='scripts/directives/worldClock.js')
