footer
    .container
        .block(ng-show="carouselIndex == 0 || carouselIndex == 7")
          span visit <a href="http://population.io">www.population.io</a>
    .right-share(ng-hide='carouselIndex == 7 || carouselIndex == 0 || carouselIndex == 0', ng-click="gotoshare()")
include ../partials/modals
