footer
    .container
        .block(ng-if="!isResults")
          span visit <a href="http://population.io">www.population.io</a>
    .right-share(ng-show="isResults && currentIndex != 6", ng-click="gotoshare()")
include ../partials/modals
