header
  .container
    .logo
      a(href='#', ng-click="showHomepage()") Population.io
    ul.link-list
      li
        a(ng-click="showAbout()") About
        a(ng-click="showDevelopers()") Developers
    .profile.animate(
      ng-hide="state === 'root'",
      ng-click="showHomepage()"
    ) {{profile.birthday | date:'dd MMM yyyy' }}, {{profile.country}}
    .world-population.animate(ng-hide="state === 'root'") {{worldPopulation | number:0}}