header
    .container
        .logo
            a(ng-click="showHomepage()")
                span.title Population.io
                span.subtitle {{ 'HEADER_TITLE' | translate }}
                span.icon-alpha
                i.fa.fa-bars.link-list
        .loader.fa.fa-refresh(ng-class="{'active': loading}")

        form.change-language.remove
            label
                select(ng-model="activeLangKey" ng-init="activeLangKey = 'EN'" ng-change="changeLanguage(activeLangKey)")
                    option(value="EN") English
                    option(value="ES") Español


        ul.link-list.remove
            li
                a(ng-click="showAbout()") {{ 'HEADER_MENU_ABOUT' | translate }}
                a(ng-click="showMethodology()") {{ 'HEADER_MENU_METHODOLOGY' | translate }}
                a(ng-click="showDevelopers()") {{ 'HEADER_MENU_API' | translate }}
                //- a(ng-click="changeLanguage('EN')") EN
                //- a(ng-click="changeLanguage('ES')") ES
        .profile.animate( ng-show="currentPage > 0", ng-click="showHomepage()", ng-cloak ) {{profile.birthday.formatted | date:'dd MMM yyyy' }}, {{profile.country}}
        .world-population.animate(ng-show="currentPage > 0", ng-cloak)
            span(ng-show="clockType === 'personal'") {{rankGlobal | number:0}}
            span(ng-show="clockType === 'world'") {{worldPopulation | number:0}}
            .toggle
                label( ng-class="{'icon-gender icon-female': profile.gender === 'female', 'icon-male icon-gender': profile.gender === 'male'}", ng-model="clockType", btn-radio="'personal'" )
                label(class="icon-world", ng-model="clockType", btn-radio="'world'")
