header
  .container
    .logo
      a(href='#') Population.io
    ul.link-list
      li
        a(href='#') About
        a(href='#') Developers
    .profile {{dateOfBirth | date:'dd MMM yyyy' }}, {{country}}
    .world-population {{worldPopulation | number:0}}