header
  .container
    .logo
      a(ng-click="showHomepage()") The World Population Project <span class="icon-alpha"></span>
    ul.link-list
      li
        a(ng-click="showAbout()") About
        a(ng-click="showDevelopers()") Developers
    .profile.animate(
      ng-show="currentPage > 0",
      ng-click="showHomepage()",
      ng-cloak
    ) {{profile.birthday | date:'dd MMM yyyy' }}, {{profile.country}}
    .world-population.animate(ng-show="currentPage > 0", ng-cloak) {{worldPopulation | number:0}}